/* Absen */
.first-off {
    white-space: pre-wrap;
}
.stats-info {
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 15px;
    text-align: center;
}
.stats-info h6 {
    color: #1f1f1f;
    font-size: 16px;
    font-weight: normal;
    line-height: 18px;
    margin-bottom: 5px;
}
.stats-info h4 {
    font-size: 24px;
    margin-bottom: 0;
}
.stats-info h4 span {
	color: #727272;
	font-size: 12px;
}
.punch-det {
    background-color: #a5b1cb9e;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 10px 15px;
}
.punch-det h6 {
    line-height: 20px;
    margin-bottom: 0;
}
.punch-det p {
    color: #727272;
    font-size: 14px;
    margin-bottom: 0;
}
.punch-info {
		justify-content: space-around;
		display: flex;
		align-items: center;
		padding: 80px;
	}

.punch-hours {
    align-items: center;
    background-color: #f9f9f9;
    border: 5px solid #e3e3e3;
    border-radius: 50%;
    display: flex;
    font-size: 18px;
    height: 120px;
    justify-content: center;
    margin: 0 auto;
    width: 120px;
}
.punch-btn-section {
    margin-bottom: 20px;
    text-align: center;
}
.punch-btn {
    border-radius: 50px;
    font-size: 18px;
    font-weight: 600;
    max-width: 100%;
    padding: 8px 40px;
}
.punch-status .stats-box {
	margin-bottom: 0;
}
.stats-list {
	height: 331px;
	overflow-y: auto;
}
.att-statistics .stats-info {
	margin-bottom: 5px;
}
.att-statistics .progress {
	height: 4px;
}
.statistics .row {
	margin-left: -5px;
	margin-right: -5px;
}
.statistics .row > div {
	padding-left: 5px;
	padding-right: 5px;
}
.stats-box {
    background-color: #f9f9f9;
    border: 1px solid #e3e3e3;
    margin-bottom: 15px;
    padding: 5px;
}
.stats-box p {
	margin: 0;
	font-size: 12px;
}
.stats-box > h6 {
    margin-bottom: 0;
}
.stats-info:last-child .progress {
	margin-bottom: 0;
}
.stats-info p {
    display: flex;
    font-size: 12px;
    justify-content: space-between;
    margin-bottom: 5px;
}
.recent-activity .res-activity-list {
    height: 328px;
    list-style-type: none;
    margin-bottom: 0;
    overflow-y: auto;
    padding-left: 30px;
    position: relative;
}
.recent-activity .res-activity-list li {
    margin-bottom: 15px;
    position: relative;
}
.recent-activity .res-activity-list li:last-child {
    margin-bottom: 0;
}
.recent-activity .res-activity-list li:before {
	width: 10px;
	height: 10px;
	left: -30px;
	top: 0px;
	border: 2px solid #ff9b44;
	margin-right: 15px;
	z-index: 2;
	background: #fff;
}
.recent-activity .res-activity-list li:before {
	content: "";
	position: absolute;
	border-radius: 100%;
}
.recent-activity .res-activity-list:after {
	content: "";
	border: 1px solid #e5e5e5;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 4px;
}
.recent-activity .res-activity-time {
    color: #bbb;
    font-size: 12px;
}
.recent-activity h6 {
    line-height: 14px;
    margin-bottom: 0;
}
.recent-activity p {
    font-size: 13px;
    margin-bottom: 0;
}
.half-day {
	width: 15px;
}

.card {
	border: 1px solid #767171;
    box-shadow: 2px 5px 10px 0px rgb(0 0 0 / 20%);
    margin-bottom: 30px;
    background: linear-gradient(188deg, #337ab7, transparent);
}
.card-title {
    color: #1f1f1f;
    font-size: 25px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-header {
    background-color: #fff;
}
.card-footer {
    background-color: #fff;
}

#jam-digital{overflow:hidden; width:350px}
#hours{float:left; width:100px; height:60px; background-color:#6B9AB8; margin-right:25px}
#minute{float:left; width:100px; height:60px; background-color:#A5B1CB}
#second{float:right; width:100px; height:60px; background-color:#FF618A; margin-left:25px}
#jam-digital p{color:#FFF; font-size:36px; text-align:center; margin-top:4px}


.rekapabsen{
	padding-top: 30px;
}

.modal-footer {
	padding: 15px;
	text-align: center;
	border-top: 1px solid #e5e5e5;
  }